@import 'font';

#content-area {
  margin-right: 280px;
  padding: 15px;
  .heading {
    h1{
      color:purple;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: $font_yekan;
      margin-bottom: 10px;
    }
    p{
      color: #1b1b1b;
      font-size: 0.8rem;
      font-family: $font_yekan;
      margin-bottom: 10px;
    }
  }
  .cards{
    .card {
      background: #fff;
      border-radius: 5px;
    }
  }
}
