$purpleLight:#302d43;
$purpleDark:#282639;
$neonGreen:#39ff14;
$lightGray:#f4f6f9;
$darkGray:#eaedf3;
$white:#ffffff;
$black:#000000;
$canvas:#c52b2b;
$checkoutBtn:#f5cf5e;
$yellow:#f5cf5e;
$successColor:#01DA8E;
$titleColor:#b7a20e;
$footerTextColor:#664602;
$lightBlue:#43a6e8;